* {
    box-sizing: border-box;
}
  
body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* a reset*/
a {
  all: unset;
}
a:link {
  text-decoration: none;
  color: #3f464d;
}
a:visited {
  text-decoration: none;
  color: #3f464d;
}
a:active {
  text-decoration: none;
  color: #3f464d;
}
a:hover {
  text-decoration: none;
  color: #3f464d;
}

/* wow.js */
.ttb {
    animation: ttb 2s linear both;
}

.btt {
    animation: btt 1s linear both;
}

.slide {
    animation: slide 1s linear both;

}

@keyframes ttb {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btt {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.inner {
  width: 100%; 
  height: 100%; 
  margin: 0 auto; 
  padding: 0 2rem;
  overflow: hidden;
}

/* header */
header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2em;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

.head-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-container nav .navi {
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.3rem;
    text-transform: uppercase;
}

.head-container nav .navi a:hover {
  color: #2186c4;
  cursor: pointer;
}

section {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.main {
    height: 360px;
    /* background-image: url(/img/web-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 10%; */
    z-index: 1;
}

.main-container {
    position: relative;
}

.slider-container {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
    margin-top: 15px;
    padding-top: 50px;
}

.slider-container img {
    display: block;
    margin: auto;
    height: 300px;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 180px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.title {
    min-width: 11px;
    white-space: nowrap;
    margin: 0;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    /* margin-bottom: 0.5rem; */
}

.title::before {
    content: "Blake Choi !";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    color: black;
    overflow: hidden;
    border-right: 1px solid black;
    animation: typing 3s steps(31) infinite;
}

@keyframes typing{
    0% {
      width: 0%;
    }
    25% {
      width: 20%
    }
    60% {
      width: 35%;
    }
    100% {
      width: 0%;
    }
  }

  .message {
    font-size: 0.7rem;
    font-weight: normal;
    color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* skill */
.skill-container {
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 1rem 0; */
}

.skill {
    width: 250px;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    margin: 0px 0.5rem;
    flex-wrap: wrap;
    border: 1px solid rgb(51, 51, 51);
    transition: all 0.4s ease 0s;
}

.skill:hover {
    transform: translate(0, -7px);
    background-color: rgb(120, 241, 235);
    color: #fff;
}

.skill-icon {
    font-size: 2.5rem;
    margin: 0 10px;
}

.icons {
    text-align: center;
    font-size: 2rem;
}

.skill-name {
    font-weight: bold;
    color: #3f464d;
    text-align: center;
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
}

.skill-des {
    font-size: 0.9rem;
    color: #3f464d;
    line-height: 20px;
    word-break: break-all;
}

/* coding */
.coding {
    width: 100%;
    margin-top: 2rem;
}

.coding:last-child {
    margin-bottom: 8rem;
}

.coding-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coding-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #3f464d;
}

/* arrow */

.slide-prev {
    font-size: 2rem;
    cursor: pointer;
}

.slide-next {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(224, 222, 222);
}

.slide-prev-hover:hover {
    transition: transform 0.5s;
    transform: translate(-2px);
}

.slide-next-hover:hover {
    transition: transform 0.5s;
    transform: translate(2px);
}

.arrow-container {
    display: flex;
}

.coding-list {
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    overflow: none;
}

.coding-card {
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    margin: 0 13px;
    transition: 0.4s;
    flex-shrink: 0;
}

.coding-card:hover {
    box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
    transform: translate(0, -7px);
}

.coding-img {
    max-width: 150px;
    border-radius: 10px;
    height: 150px;
}

/* coding ends */
/* website starts */
.dimension {
    width: 300px;
    height: 300px;
}

.col-auto img {
    border: none;
}

.nav-tabs .nav-link.active {
    background-color: #2186c4;
    color: #fff;
    border: 3px solid #2186c4;
}

.nav-tabs .nav-link {
    background-color: #fff;
    color: #2186c4;
    border: 3px solid #2186c4;
    margin-right: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-tabs .nav-link:hover {
    border: 3px solid #2186c4;
}

.nav-tabs {
    border-bottom: 1px solid #2186c4;
}

.tab-content {
    padding: 20px;
    margin-bottom: 7rem;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 400;
    transition: 0.25s;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-gra3 {
    background: linear-gradient(
        45deg,
        #D1D59F,
        #B3C79D,
        #62A7AF,
        #5C5B81,
        #745669,
        #B694B4
    );
    color: white;
}

.w-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* website ends */
/* footer */
li {
    cursor: pointer;
}

footer {
    border-top: 1px solid #e4e4e4;
    background-color: #f8f9fa;
    padding: 1rem 0;
    margin: 1rem 0;
}

.footer-message {
    font-weight: bold;
    margin: 0.4rem 0.5rem;
    color: #545e6f;
}

.footer-submessage {
    font-weight: lighter;
    margin: 0.8rem 0.5rem;
    color: #545e6f;
}

.footer-submessage span {
    color: #2186c4;
    font-weight: 900;
}

/* back to top */
#backtotop {
    background-color: rgb(47, 48, 89);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
}

#backtotop::after {
    content: "\f106";
    font-family: FontAwesome;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 40px;
    color: #fff;
}

#backtotop.show:hover {
    cursor: pointer;
    background-color: rgb(120, 241, 235);

}


#backtotop.show {
    opacity: 1;
    visibility: visible;
    background-color: rgb(47, 48, 49);
}



@media all and (min-width: 1200px) {
    .inner{
        max-width: 1200px;
    }   
}
@media all and (min-width: 1024px) {
    .head-container .head-brand{
        font-size: 0.8em;
    }
    .head-container nav .navi{
        font-size: 0.5em;
        font-weight: lighter;
    }
    footer {
        font-size: 0.7rem;
        word-break: keep-all;
    }
}
@media all and (min-width: 768px)and (max-width:1023px) {
    .skill-container {
        display: none;
    }
    .title-container {
        display: none;
    }
    #website .container {
        max-width: 900px;
    }
    #website .container .nav {
        flex-wrap: nowrap;
    }
    #website .container .nav-item {
        padding: 0;
    }
    #website .container .nav-link {
        font-size: 0.7rem;
        padding: 8px;
    }
    .dimension {
        width: auto;
    }
    #website .container .nav-link {
        font-size: 0.7rem;
        padding: 2px;
    }
}
@media all and (max-width: 767px) {
    .skill-container {
        display: none;
    }
    .title-container {
        display: none;
    }
    #website .container {
        max-width: 600px;
    }
    #website .container .nav {
        flex-wrap: nowrap;
    }
    #website .container .nav-item {
        padding: 0;
    }
    #website .container .nav-link {
        font-size: 0.7rem;
        padding: 2px;
    }
    .dimension {
        width: auto;
    }
    .tab-content .col .p-4 {
        font-size: 0.5rem;
    }
}


  
 /* IE10+ */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .skill {
        max-width: 200px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        padding: 1.5rem 2rem;
        margin: 0px 0.5rem;
        flex-wrap: wrap;
        border: 1px solid rgb(51, 51, 51);
        transition: all 0.4s ease 0s;
    }
    .skill-container {
        margin-top: 120px;
        min-height: 350px;
    }
 }