/* google font */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

body {
    font-family: 'Nanum Myeongjo', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
   flex: 1;
   text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-lines: single; 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap;
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify;
    justify-content: space-around;
}

/* .col-2 {
    flex-basis: 50%;
    min-width: 150px;
}  */

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 45px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 h1 span {
    color: rgb(53, 197, 240);
}

.btn {
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: letter-spacing 0.5s;
}

.btn:hover {
    background: #563434;
    letter-spacing: 5px;
}

header {
    background: radial-gradient(#fff, #EDEDED);
}

header .row {
    margin-top: 30px;
}

.categories {
    margin: 70px 0;
}

.categories .col-3 p {
    display: inline-block;
    width: 309px;
    position: relative;
    top: 310px;
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164782905827697338.jpg?gif=1&w=640&h=640&c=c&q=0.8);
    background-size: cover;
}

.categories .col-3 p:hover {
    cursor: pointer;
}

.col-3 {
    ms-flex: 0 1 auto;
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}


.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 25px;
}

.col-4 {
    ms-flex: 0 1 auto;
    flex-basis: 25%;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: rgb(53, 197, 240);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fas,
.rating .far
{
    color: #555;
    margin: 10px 0;
}

.col-4:hover {
    transform: translateY(-5px);
}


/* offer */

.offer {
    background: none;
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}


/* testimonial */

.testimonial  {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 100%;
    border-radius: 15px;
}

.testimonial .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
    font-weight: normal;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa-quote-left {
    font-size: 34px;
    color: rgb(53, 197, 240);
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* brand */

.brand {
    margin-top: 100px;
    margin-bottom: 200px;

}

.col-5 {
    width: 160px;
}

.col-5 h4 {
    text-align: center;
    font-weight: 600;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
}

.col-5 img {
    transform: scale(.5);
}

/* footer */
.footer {
    margin-top: 80px;
    background: #FAFAFA;
    color: #555;
    padding: 60px 0;
}

.footer p {
    color: #555;
}

.footer h3 {
    color: #555;
    margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,
.footer-col-3,.footer-col-4 {
    min-width: 250px;
}

.footer-col-1 {
    ms-flex: 0 1 auto;
    flex-basis: 50%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 30px;
}

.footer-col-3,.footer-col-4 {
    ms-flex: 0 1 auto;
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* wow */
.ttb {
    animation: ttb 2s linear both;
}

.btt {
    animation: btt 1s linear both;
}

.slide {
    animation: slide 1s linear both;

}

.slide-right {
    animation: slide-right 1s linear both;

}

@keyframes ttb {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btt {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* single detail */
.sigle-product {
    margin-top: 80px;
}

.sigle-product .col-2 img {
    padding: 20px;
}

.sigle-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.sigle-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.sigle-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(53, 197, 240) ;
}

input:focus {
    outline: none;
}

.small-img-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.small-img-col {
    cursor: pointer;
    width: 25%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}




@media only screen and (max-width: 1100px) {
    .categories .col-3 p {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
   header .row {
       -webkit-box-orient: vertical;
       -ms-flex-direction: column;
        flex-direction: column;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .col-2 h1 {
        font-size: 25px;
        line-height: 60px;
        margin: 25px 0;
    }

    .footer .row {
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .footer .row .footer-col-1,
    .footer .row .footer-col-2,
    .footer .row .footer-col-3,
    .footer .row .footer-col-4 {
        margin: 20px;
    }
    
}

@media only screen and (max-width: 600px) {
    .categories .row,
    .products .row,
    .offer .row, 
    .testimonial .row {
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .row {
        text-align: center;
        flex-direction: column;
    }

    .brand .row {
        display: none;
    }

    .col-2,.col-3,.col-4 {
        width: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
}