
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&family=Roboto:ital,wght@1,100;1,900&family=Zen+Kurenaido&display=swap');

body{
  font-family: 'Jost', sans-serif;
  height: 100vh;
}

body:before,
body:after{
  content: '';
  background-color: #D1D59F;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  animation: close 1s 1s both;
}

body:before{
  left: 0;
}

body:after{
  right: 0;
}

.heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.heading h1{
  margin: 0;
  font-size: 60px;
  color: #62A7AF;
  animation: text 2s 2.5s both;
}

@keyframes close{
  0%{
    width: 50%;
  }
  100%{
    width: 0;
  }
}

@keyframes text{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  25%{
    transform: translateY(0);
    opacity: 1;
  }
  75%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(100PX);
    opacity: 0;
  }
}