/* Web Fonts : Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* FontAwesome 4.7 CDN */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
  font-family: 'Lato',sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 1.5em;
}

.price-inner{
  background-image: url(a.jpg);
  /* background-color: #eee; */
  width: 300px;
  min-height: 500px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
}

.price-inner h3{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.title{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  cursor: pointer;
}

.title:after{
  content: "\f107";
  font-family: fontawesome;
  float: right;
  background-color: #000;
  color: #fff;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}

.title.active:after{
  transform: rotate(180deg);
  background-color: crimson;
}

.content{
  background-color: #fff;
  border-radius: 5px;
  padding: 0 10px;
  display: none;
  margin-bottom: 5px;
}

.content span{
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 10px 0; 
}

.content span:last-child{
  border: none;
}

.content span em{
  font-style: normal;
  background-color: rgba(190, 205, 50, 0.247);
  color: black;
  padding: 1px 7px;
  border-radius: 3px;
  float: right;
}