body{
    background-color: #ddd;
    height: 100hv;
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}

.logo{
  float: left;
}

.logo h2{
  color: #fff;
}

.menu-btn{
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid #fff;
}

.right-menu{
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a{
  color: #00C471;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover{
  background-color: #f9f9f9; 
  color: black;
}

.right-menu:hover .dropdown-menu{
  display: block;
}

.right-menu:hover .menu-btn{
  background-color: transparent;
}